.choose-a-program {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  min-width: 320px;
  height: 480px;
}




.choose-a-program__title {
  width: 249px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}
