body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: @basic-white-color;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey-color;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import url("variables.less");
@import url("blocks/site-list.less");
@import url("blocks/choose-a-program.less");
@import url("blocks/programs-for-cats.less");
@import url("blocks/advantages.less");
@import url("blocks/page-footer.less");
@import url("blocks/catalog-title.less");
@import url("blocks/products.less");
